<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <input id="yesbutton" type="button" value="SI">
            <input id="nobutton" type="button" value="NO">
        </div>
    </body>

    <script>
        $( "#yesbutton" ).click(function() {
            alert( "Handler for yes called. {{name}}" );
        });
        $( "#nobutton" ).click(function() {
            alert( "Handler for no called. {{name}}" );
        });
    </script>

</html>
